<!DOCTYPE html>
<html>
<head>
    <title>OCH</title>
    <!-- for-mobile-apps -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <link rel="shortcut icon" href="/images/icono.png">
    <meta name="keywords" content=" 500 Page"/>
    <script type="application/x-javascript"> addEventListener("load", function () {
        setTimeout(hideURLbar, 0);
    }, false);

    function hideURLbar() {
        window.scrollTo(0, 1);
    } </script>
    <!-- //for-mobile-apps -->
    <link href="/publicBootstrap/css/style-500.css" rel="stylesheet" type="text/css" media="all"/>
    <link href='https://fonts.googleapis.com/css?family=Viga' rel='stylesheet' type='text/css'>
</head>
<body>
<div class="main">

    <h1>500</h1>
    <h2>ooops, internal server error</h2>
    <div class="more_w3ls">
        <a href="/">Volver al inicio</a>
    </div>

    <div class="copyright">
        <p>© 2018. All rights reserved | Design by <a href="http://urjc.es">URJC</a></p>
    </div>
</div>
</body>
</html>