<div class="col-lg-3">
    <div class="card line-chart-example">

        <div class="card-header d-flex align-items-center">
            <img src={{photo}} alt="person" class="img-fluid rounded-circle rounded mx-auto d-block">
        </div>
        <form>
            <div class="form-group">
                <label>Nombre</label>
                <h2 class="h5">{{firstName}}</h2>
            </div>
            <div class="form-group">
                <label>Apellidos</label>
                <h2 class="h5">{{lastName}}</h2>
            </div>
            <div class="form-group">
                <label>Direccion</label>
                <h2 class="h5">{{direccion}}</h2>
            </div>
            <div class="form-group">
                <label>CodigoPostal</label>
                <h2 class="h5">{{cp}}</h2>
            </div>
            <div class="form-group">
                <label>Dispositivos</label>
                <input type="text" placeholder="3" class="form-control" required>
            </div>
        </form>
    </div>
</div>